.form {
  width: 100vw;
  height: 100vh;
  background-image: url("../lara-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2%;
  border-radius: 10px;
  width: 35vw;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginForm img {
  width: 30%;
  max-width: 100px;
  margin-bottom: 20px;
}

.form input,
.form button {
  margin: 10px 0;
  padding: 12px;
  width: 80%;
  max-width: 350px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  height: 50px;
  border-radius: 30px;
  background-color: #fba817;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #e59517;
}

@media (max-width: 768px) {
  .loginForm {
    width: 80vw;
    left: 0;
  }

  .form input,
  .form button {
    width: 90%;
  }

  .loginForm img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .loginForm {
    width: 90vw;
    left: 0;
  }

  .form input,
  .form button {
    width: 90%;
  }

  .loginForm img {
    width: 50%;
  }
}
